In [1]:
import sampling as samp

In [2]:
data = samp.slicing("../timeseries/B101/Channel1.csv", 10)
data

         singleData
0       -21702628.0
1        -8657071.0
2         7671702.0
3        14368814.0
4        17132264.0
...             ...
2047995 -23617860.0
2047996 -33680636.0
2047997 -33975952.0
2047998 -29858798.0
2047999 -24240822.0

[2048000 rows x 1 columns]

In [3]:
sampled_channel = samp.sampling_csv(data, 2)
sampled_channel

         singleData
0       -21702628.0
2         7671702.0
4        17132264.0
6        16921288.0
8        28665146.0
...             ...
2047990 -10419795.0
2047992   4593267.5
2047994  -7578204.0
2047996 -33680636.0
2047998 -29858798.0

[1024000 rows x 1 columns]

In [4]:
sampled_channel = samp.sampling_avg_csv(data, 4)
sampled_channel

0        -2.079796e+06
1         1.897811e+07
2         3.926352e+07
3         4.220864e+07
4         3.542012e+07
              ...
511995    7.503365e+06
511996    2.192452e+07
511997   -1.753832e+06
511998   -4.182899e+06
511999   -3.043905e+07
Name: singleData, Length: 512000, dtype: float64